@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hidden {
    display: none;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.chat-container {
    display: flex;
    max-width: 1200px;
    min-width: 1200px;
    min-height: 600px;
    max-height: 600px;
    margin: 20px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.users-list {
    flex: 1;
    background: linear-gradient(to right, #4a00e0, #8e54e9);
    border-right: 1px solid #ccc;
    padding: 20px 40px 40px 40px;
    box-sizing: border-box;
    color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.users-list-container {
    height: 75%;
    overflow-y: scroll;
}



.users-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.user-item.active {
    background-color: #cdebff;
    color: #4f4f4f;
    padding: 6px;
    border-radius: 5px;
}

.user-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item span {
    font-weight: bold;
}

.user-item span.nbr-msg {
    margin-left: 10px;
    background-color: #f8fa6f;
    color: white;
    padding: 5px;
    width: 15px;
    border-radius: 50%;
    height: 15px;
}

.separator {
    height: 0.7px;
    background-color: #ccc;
    margin: 10px 0;
}

.chat-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#chat-messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.message {
    margin-bottom: 5px;
    border-radius: 5px;
}

.message p {
    padding: 0 12px;
    border-radius: 15px;
    word-wrap: break-word;
}

.sender {
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: #fff;
    align-self: flex-end;
}

.receiver {
    background-color: #ecf0f1;
    color: #333;
    align-self: flex-start;
}

.message-input {
    display: flex;
}

.message-input input {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.message-input button {
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: white;
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 140px;
}

.message-input button:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
}

.logout {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.logout:hover {
    background: linear-gradient(to right, #4776E6, #8e54e9);
    letter-spacing: 0.5px;
}
