@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.chat-container {
    display: flex;
    width: 70%;
    min-height: 80vh;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.users-list {
    background: linear-gradient(to right, #4a00e0, #8e54e9); /* Primer gradijenta */
    color: white;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-list-container h2 {
    color: #fff; /* Crna boja */
}

.users-list h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.users-list ul {
    list-style: none;
}

.users-list ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2980b9;
    border-radius: 4px;
}

.users-list ul li:hover {
    background-color: #1e6b8f;
}

.logout {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to left, #4776E6, #8e54e9); /* Gradient boje */
    color: #fff; /* Bela boja teksta */
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.logout:hover {
    background: linear-gradient(to right, #4776E6, #8e54e9); /* Obrnuti gradijent na hover */
    letter-spacing: 0.5px; /* Efekat kod hovera */
}

.chat-area {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
}

.message-input {
    display: flex;
}

.message-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}
.hidden {
    display: none;
}


.message-input button {
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: white;
    padding: 0.4rem;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100px; /* Možeš prilagoditi širinu po želji */
}

.message-input button:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
}
